@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;400;500&display=swap');

:root {
    --header-title: #000000;
    --aside-title: #000000;
    --placeholder-color: #2C39F9;
    --textarea-text-color: #427D9D;


    --button-encrypt-background-color: #427D9D;
    --button-encrypt-border-color: #000;
    --button-encrypt-font-color: #FFFFFF; 
    --button-descrypt-background-color: #FFD747;
    --button-descrypt-font-color: #000000;

    --button-toggle-background-color: #FDFDFD;
    --body-background-color: #DDF2FD;
    --menu-background-color: #9BBEC8;
    --border-theme-light: #2C39F9;
    --box-background-color: #9BBEC8;
    --box-shadow: 0px 0px 5px rgba(106, 115, 255, 0.5);
    --dropdown-hover: #2C39F9;
    --dropdown-text-color-hover: #FFFFFF;
    --warning-text-color: #383E43;
    --main-link-color: #000000;
    
    --button-encrypt-background-color-hover: #1B24B0;
    --button-descrypy-background-color-hover: #f5f100;
    --aside-display-border-color-hover: #1B24B0;
    --button-copy-background-color-hover: #1B24B0;
    --scroolbar-track-color: #9598c6;
    
    font-size: 62.5%;

}


:root.dark {
    --header-title: #FFFFFF;
    --aside-title: #F8FBFF;
    --placeholder-color: #02C171;
    --textarea-text-color: #02C171;


    --button-encrypt-background-color: #02C171;
    --button-encrypt-border-color: #000000;
    --button-encrypt-font-color: #00000; 
    
    --button-descrypt-background-color: #C31D27;
    --button-descrypt-font-color: #FFFFFF;
    
    --button-toggle-background-color: #050E0C;
    --body-background-color: #0F0F0F;
    --menu-background-color: #050E0C;
    --border-theme-light: #02C171;
    --box-background-color: #050E0C;
    --box-shadow: 0px 0px 5px rgba(2, 193, 113, 0.5);
    --image-shadow: linear-gradient(180deg, rgba(5, 14, 12, 0) 27.36%, #050E0C 100%);
    --dropdown-hover: #02C171;
    --dropdown-text-color-hover: #FFFFFF;
    --warning-text-color: #EDEDED;
    --main-link-color: #FFFFFF;
    
    --button-encrypt-background-color-hover: #00FF87;
    --button-descrypy-background-color-hover: #f5f100;
    --button-descrypt-font-color-hover: #000000;

    --aside-display-border-color-hover: #00FF87;
    --button-copy-background-color-hover: #00FF87;
    --scroolbar-track-color: #004233;

}

body {
    background-color: var(--body-background-color);
    padding: 2.2rem 5% 1rem;
    font-family: 'Rubik', sans-serif;
    display: flex;
    flex-flow: column;
    gap: 2.6rem;
}

 *{
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
}

.aside {
    display: flex;
    flex-direction: column;
}

.aside__header {
    display: flex;
    justify-content: space-between;
}

.aside__checkbox {
    opacity: 0;
    position: absolute;
}

.aside__checkbox:checked + .aside__button-toggle .aside__circle {
    transform: translateX(0%);
}

.aside__button-toggle {
    padding: 0.5rem;
    border-radius: 5rem;
    border: 0.1rem solid var(--border-theme-light);
    background-color: var(--box-background-color);
    box-shadow: var(--box-shadow);

    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 10rem;
    height: 5rem;
}

.aside__icon-theme {
    margin: 0rem 0.5rem;
}

.aside__circle {
    padding: 2rem;
    border-radius: 50%;
    background-color: var(--border-theme-light);
    
    position: absolute;
    cursor: pointer;

    transform: translateX(120%);
    transition: all .3s linear;
}

.aside img {
    border-radius: 15px;
}

.input{
    border-radius: 1rem;
    border: 0.2rem solid var(--border-theme-light);
    background-color: var(--box-background-color);
    box-shadow: var(--box-shadow);
    padding: 1.6rem;

    flex-basis: 37rem;
}

#input-text::placeholder{
    color: var(--placeholder-color);
}

.cabecalho{
    display: flex;
    justify-content: space-between;
    padding: 2%;
}

.aside h1 {
    color: var(--aside-title);
    font-size: 32px;
}

.aside img {
    max-width: 70px;
    max-height: 70px;
    width: auto;
    height: auto;
}

.container-input {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.container-input .input {
    max-width: 80%;
}

#input-text{
    width: 345px;
    height: 330px;
    font-size: 20px;
    color: var(--border-theme-light);
    background: transparent;
    box-shadow: none;
    border: none;
    outline: 0;
    padding: 10px;
    text-transform: lowercase;
}

.input-paragrafo{
    font-size: 20px;
    color: var(--border-theme-light);
    background: transparent;
    margin-left: 10%;
}

#output{
    display: flex;
    flex-direction: column;
    border: 3px solid var(--border-theme-light);
    border-radius: 20px;
    max-width: 80%;
    margin: 3%;
    margin-top: 0%;
    background-color: var(--button-toggle-background-color)
}

#output h2{
    text-align: center;
    font-size: 25px;
    color: var(--aside-title);
}

#output span{
    font-size: 16px;
    text-align: center;
}

#output img{
    max-width: 200px;
    max-height: 200px;
    width: auto;
    height: auto;
    margin-top: 4%;
    margin-left: 30%;
}

.main__wrapper-button {
    display: flex;
    flex-wrap: wrap;
    gap: 2.5rem;
    margin-top: 3.2rem;
}

.is-button-large {
    border: none;
    border-radius: 1rem;
    padding: 1.2rem 4%;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.6rem;
    flex: 1;

    box-shadow: var(--box-shadow);
    font-family: var(--button-font);
    font-size: 1.8rem;
    font-weight: bold;
    cursor: pointer;
    text-transform: uppercase;
}

.is-encrypt, .is-button-copy {
    background-color: var(--button-encrypt-background-color);
    border: 0.1rem solid var(--button-encrypt-border-color);
    color: var(--button-encrypt-font-color);
}

.is-encrypt:hover {
    background-color: var(--button-encrypt-background-color-hover);
}

.is-descrypt:hover {
    background-color: var(--button-descrypy-background-color-hover);
    color: var(--button-descrypt-font-color-hover);
}


.rodape {
    position: fixed; 
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2%;
    margin-top: 10px;
    background: var(--cor-principal);
    color: var(--border-theme-light);
}

.rodape h3{
    font-size: 16px;
}

.icons ion-icon{
    width: 25px;
    height: 25px;
    color: var(--border-theme-light);
}

.icons ion-icon:hover{
    color: var(--button-encrypt-background-color-hover);
}

.btn-copiar{
    
    border-radius: 10px;
    color: #000;
    width: 150px;
    height: 50px;
    margin-left: 38%;
    cursor: pointer;
    background-color: var(--button-encrypt-background-color);
    border: 0.1rem solid var(--button-encrypt-border-color);
}